

.home-page {
  padding: 2%;
display: flex;
flex-direction: column;  
align-items: center;
 background-color: #edf0f5;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.home-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
 

  width: 100%;
}

.home-page-container > div {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
width: 260px;
height: 200px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}


.home-page-container p {
padding: 20PX;
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
}
